{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Card title
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Card content
                </p>
            </div>
            <div class="card-footer">
                Card footer
            </div>
        </div>
    </div>
    
</div>
{% endblock %}